In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/Users/si/Documents/Python/data.xlsx', header=3)
df.head()

,Week Start,City Name,shopping_sessions,sessions_peak,requesting_sessions,requesting_sessions_peak,completed_trips,completed_peak,non_requesting_sessions,non_requesting_stressed_sessions,...,peak_unfulfilled_rs,peak_unclassfied_rs,supply_hours,on_trip_hours,en_route_hours,tph,peak_supply_hours,peak_on_trip_hours,peak_en_route_hours,peak_tph
0,2016-06-06,Allendale,59741.25,12602.50,41016.25,8857.50,37123.75,7635.00,18390.00,5552.50,...,0.005,0.118,17370.00,6982.74000,3942.99000,2.36,2850.00,1348.05000,869.535000,2.76
1,2016-06-06,Collinville,5595.50,1130.00,3206.00,668.00,2533.00,435.50,2321.50,524.00,...,0.009,0.306,1214.50,456.65200,304.83950,2.29,147.50,62.39250,50.371250,2.89
2,2016-06-06,Dunton,41231.64,7428.54,19663.62,3944.04,12752.58,1908.54,21445.20,4102.74,...,0.026,0.429,2064.48,538.82928,241.54416,0.73,318.78,70.45038,43.322202,0.80
3,2016-06-06,Lorton,516232.64,120381.38,353413.44,82869.60,313793.42,70242.06,161622.00,50605.06,...,0.001,0.130,165480.78,71487.69696,30779.42508,2.07,30970.98,15392.57706,7875.920214,2.39
4,2016-06-06,Merian,191052.62,42821.02,144107.50,33189.86,134397.28,30379.10,46517.96,15796.66,...,0.001,0.070,63724.72,25744.78688,11980.24736,2.30,11460.16,5466.49632,2867.332032,2.72

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 32 columns):
Week Start                              1012 non-null datetime64[ns]
City Name                               1012 non-null object
shopping_sessions                       1012 non-null float64
sessions_peak                           1012 non-null float64
requesting_sessions                     1012 non-null float64
requesting_sessions_peak                1012 non-null float64
completed_trips                         1012 non-null float64
completed_peak                          1012 non-null float64
non_requesting_sessions                 1012 non-null float64
non_requesting_stressed_sessions        1012 non-null float64
non_requesting_non_stressed_sessions    1012 non-null float64
zero_sessions                           1012 non-null float64
peak_non_requesting_sessions            1012 non-null float64
peak_stressed_sessions                  1012 non-null float64
peak_non_stressed_sessions              1012 non-null float64
peak_zero_sessions                      1012 non-null float64
rider_cancel_rs                         1012 non-null float64
driver_cancel_rs                        1012 non-null float64
unfulfilled_rs                          1012 non-null float64
unclassfied_rs                          1012 non-null float64
peak_rider_cancel_rs                    1012 non-null float64
peak_driver_cancel_rs                   1012 non-null float64
peak_unfulfilled_rs                     1012 non-null float64
peak_unclassfied_rs                     1012 non-null float64
supply_hours                            1012 non-null float64
on_trip_hours                           1012 non-null float64
en_route_hours                          1012 non-null float64
tph                                     1012 non-null float64
peak_supply_hours                       1012 non-null float64
peak_on_trip_hours                      1012 non-null float64
peak_en_route_hours                     1012 non-null float64
peak_tph                                1012 non-null float64
dtypes: datetime64[ns](1), float64(30), object(1)
memory usage: 253.1+ KB

In [4]:
df.describe().round()

,shopping_sessions,sessions_peak,requesting_sessions,requesting_sessions_peak,completed_trips,completed_peak,non_requesting_sessions,non_requesting_stressed_sessions,non_requesting_non_stressed_sessions,zero_sessions,...,peak_unfulfilled_rs,peak_unclassfied_rs,supply_hours,on_trip_hours,en_route_hours,tph,peak_supply_hours,peak_on_trip_hours,peak_en_route_hours,peak_tph
count,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,...,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0,1012.0
mean,143164.0,30563.0,104593.0,23664.0,92852.0,20215.0,38076.0,11667.0,22001.0,4407.0,...,0.0,0.0,41150.0,17837.0,8018.0,2.0,8338.0,3918.0,1866.0,2.0
std,188624.0,42021.0,145700.0,34153.0,132590.0,30119.0,43272.0,11837.0,29989.0,3682.0,...,0.0,0.0,62630.0,27239.0,11192.0,1.0,13037.0,6234.0,2721.0,1.0
min,5446.0,960.0,2952.0,597.0,2210.0,368.0,2218.0,448.0,761.0,214.0,...,0.0,0.0,1010.0,260.0,142.0,0.0,130.0,33.0,19.0,0.0
25%,42789.0,7918.0,23122.0,4659.0,15835.0,2584.0,15263.0,4292.0,6516.0,1904.0,...,0.0,0.0,4224.0,1636.0,947.0,2.0,779.0,318.0,210.0,2.0
50%,69064.0,14257.0,47332.0,10400.0,39212.0,7965.0,23480.0,7923.0,11610.0,3259.0,...,0.0,0.0,15850.0,7069.0,3700.0,2.0,3107.0,1470.0,835.0,3.0
75%,152868.0,32577.0,109202.0,24089.0,97047.0,19915.0,41999.0,14364.0,21217.0,5517.0,...,0.0,0.0,40850.0,18811.0,8885.0,3.0,8175.0,3957.0,1962.0,3.0
max,1017179.0,235251.0,770051.0,186937.0,630422.0,146177.0,245280.0,99525.0,170797.0,26825.0,...,0.0,1.0,293387.0,144933.0,58677.0,4.0,62438.0,32905.0,15073.0,4.0

In [5]:
df['City Name'].unique()

array(['Allendale', 'Collinville', 'Dunton', 'Lorton', 'Merian',
       'Northwood', 'Hillfield', 'Wirran', 'Lamberton', 'Tapton',
       'Brockpool'], dtype=object)

In [6]:
# created a sorted df by city and week
df.sort_values(['City Name', 'Week Start'], inplace = True)

# Demand metrics calculation

In [7]:
# peak session vs none-peak session ratio:
df['requesting_sessions_peak_ratio'] = df.requesting_sessions_peak / df.requesting_sessions

In [8]:
# requesting session growth by cities
a = df.sort_values(['City Name', 'Week Start']).groupby('City Name')['requesting_sessions', 'requesting_sessions_peak'].pct_change().rename(
    columns={'requesting_sessions':'requesting_sessions_growth', 'requesting_sessions_peak':'requesting_sessions_peak_growth'})

In [9]:
# add growth back to the df
df['requesting_sessions_growth'], df['peak_requesting_sessions_growth'] = a['requesting_sessions_growth'], a['requesting_sessions_peak_growth']

In [10]:
# riders not getting serviced due to high demand or no supply

df['rider_stressed_zero'] = (df['non_requesting_stressed_sessions'] + df['zero_sessions']) / df['non_requesting_sessions']
df['peak_rider_stressed_zero'] = (df['peak_stressed_sessions'] + df['peak_zero_sessions']) / df['peak_non_requesting_sessions']

# Supply metrics calculation

In [11]:
# en_route hours out of supply hours pct

df['en_route_trip_ratio'] = df.en_route_hours / df.on_trip_hours
df['peak_en_trip_hours_ratio'] = df.peak_en_route_hours / df.peak_on_trip_hours

In [12]:
# supply hours growth by cities
b = df.sort_values(['City Name', 'Week Start']).groupby('City Name')['supply_hours', 'peak_supply_hours'].pct_change().rename(
    columns={'supply_hours':'supply_hours_growth', 'peak_supply_hours':'peak_supply_hours_growth'})

In [13]:
# add growth back to the df
df['supply_hours_growth'], df['peak_supply_hours_growth'] = b['supply_hours_growth'], b['peak_supply_hours_growth']

# Matching efficiency

In [14]:
# completed trips out of requesting sessions

df['trip_completed_ratio'] = df.completed_trips / df.requesting_sessions
df['peak_trip_complete_ratio'] = df.completed_peak / df.requesting_sessions_peak
df['cancel_rs'] = df.rider_cancel_rs + df.driver_cancel_rs

In [15]:
key_metrics = ['City Name', 'requesting_sessions_peak_ratio', 'requesting_sessions', 'requesting_sessions_growth', 
               'supply_hours', 'supply_hours_growth', 'rider_stressed_zero', 'rider_cancel_rs', 'driver_cancel_rs',
               'cancel_rs', 'en_route_trip_ratio', 'tph', 'trip_completed_ratio']

In [16]:
# create metrics table
df_metrics = df[key_metrics]

In [17]:
df_metrics.head()

,City Name,requesting_sessions_peak_ratio,requesting_sessions,requesting_sessions_growth,supply_hours,supply_hours_growth,rider_stressed_zero,rider_cancel_rs,driver_cancel_rs,cancel_rs,en_route_trip_ratio,tph,trip_completed_ratio
0,Allendale,0.215951,41016.25,NaN,17370.00,NaN,0.354880,0.009,0.001,0.010,0.564677,2.36,0.905099
11,Allendale,0.220139,37476.25,-0.086307,14827.50,-0.146373,0.439975,0.009,0.001,0.010,0.580189,2.45,0.896568
22,Allendale,0.220481,37962.50,0.012975,16593.75,0.119120,0.310393,0.008,0.002,0.010,0.550505,2.25,0.916562
33,Allendale,0.216193,40866.25,0.076490,16855.00,0.015744,0.436182,0.019,0.006,0.025,0.564286,2.36,0.913835
44,Allendale,0.211628,41493.75,0.015355,16821.25,-0.002002,0.533968,0.029,0.010,0.039,0.563380,2.33,0.896370

In [18]:
# calculate mean for each metric by city
metrics_table = df_metrics.groupby('City Name').mean().reset_index()
metrics_table

,City Name,requesting_sessions_peak_ratio,requesting_sessions,requesting_sessions_growth,supply_hours,supply_hours_growth,rider_stressed_zero,rider_cancel_rs,driver_cancel_rs,cancel_rs,en_route_trip_ratio,tph,trip_completed_ratio
0,Allendale,0.209701,75531.100543,0.014761,28750.190217,0.011489,0.413587,0.022739,0.008848,0.031587,0.521459,2.489130,0.909706
1,Brockpool,0.223305,38402.614130,0.013353,14133.335870,0.009086,0.506278,0.037272,0.012620,0.049891,0.536635,2.394348,0.848640
2,Collinville,0.202833,7247.744565,0.017382,2567.913043,0.015396,0.578817,0.045467,0.008370,0.053837,0.658810,2.460326,0.838674
3,Dunton,0.200222,20934.090000,0.013805,3546.405000,0.021961,0.367067,0.100978,0.040370,0.141348,0.458258,0.735870,0.661481
4,Hillfield,0.206173,43851.630000,0.017338,12161.925000,0.010224,0.568523,0.034380,0.009141,0.043522,0.548036,3.267283,0.877047
5,Lamberton,0.231861,51492.973913,0.012144,17200.535652,0.010226,0.525545,0.038261,0.009522,0.047783,0.551385,2.689891,0.847237
6,Lorton,0.234671,498851.514565,0.009017,216497.813913,0.006140,0.312373,0.023815,0.018348,0.042163,0.414160,2.151739,0.907583
7,Merian,0.221589,245202.755870,0.014089,96052.256522,0.008185,0.387557,0.021793,0.013120,0.034913,0.451098,2.393696,0.923532
8,Northwood,0.225471,115666.531304,0.009845,42795.054783,0.005083,0.566709,0.036554,0.013739,0.050293,0.463763,2.438587,0.861679
9,Tapton,0.233731,8093.028696,0.012570,3128.890435,0.010381,0.623977,0.060293,0.011500,0.071793,0.575946,2.159565,0.795863
10,Wirran,0.222656,45254.407609,0.013864,15812.853261,0.008584,0.593531,0.059402,0.018141,0.077543,0.488091,2.342935,0.783985

In [24]:
# rank city by city metric. Note for some metrics are higher the better but some others the lower the better
metrics_table['requesting_sessions_ranked'] = metrics_table['requesting_sessions'].rank(ascending=False)
metrics_table['requesting_sessions_growth_ranked'] = metrics_table['requesting_sessions_growth'].rank(ascending=False)
metrics_table['supply_hours_ranked'] = metrics_table['supply_hours'].rank(ascending=False)
metrics_table['supply_hours_growth_ranked'] = metrics_table['supply_hours_growth'].rank(ascending=False)
metrics_table['rider_stressed_zero_ranked'] = metrics_table['rider_stressed_zero'].rank(ascending=True)
metrics_table['rider_cancel_rs_ranked'] = metrics_table['rider_cancel_rs'].rank(ascending=True)
metrics_table['driver_cancel_rs_ranked'] = metrics_table['driver_cancel_rs'].rank(ascending=True)
metrics_table['cancel_rs_ranked'] = metrics_table['cancel_rs'].rank(ascending=True)
metrics_table['en_route_trip_ratio_ranked'] = metrics_table['en_route_trip_ratio'].rank(ascending=True)
metrics_table['tph_ranked'] = metrics_table['tph'].rank(ascending=False)
metrics_table['trip_completed_ratio_ranked'] = metrics_table['trip_completed_ratio'].rank(ascending=False)
metrics_table['requesting_sessions_peak_ratio_ranked'] = metrics_table['requesting_sessions_peak_ratio'].rank(ascending=True)
metrics_table_ranked = pd.concat([metrics_table.loc[:, 'City Name'], metrics_table.loc[:, 'requesting_sessions_ranked': 'requesting_sessions_peak_ratio_ranked']], axis=1)

In [26]:
# preview ranking table
metrics_table_ranked

,City Name,requesting_sessions_ranked,requesting_sessions_growth_ranked,supply_hours_ranked,supply_hours_growth_ranked,rider_stressed_zero_ranked,rider_cancel_rs_ranked,driver_cancel_rs_ranked,cancel_rs_ranked,en_route_trip_ratio_ranked,tph_ranked,trip_completed_ratio_ranked,requesting_sessions_peak_ratio_ranked
0,Allendale,4.0,3.0,4.0,3.0,4.0,2.0,2.0,1.0,6.0,3.0,2.0,4.0
1,Brockpool,8.0,7.0,7.0,7.0,5.0,6.0,6.0,6.0,7.0,6.0,6.0,7.0
2,Collinville,11.0,1.0,11.0,2.0,9.0,8.0,1.0,8.0,11.0,4.0,8.0,2.0
3,Dunton,9.0,6.0,9.0,1.0,2.0,11.0,11.0,11.0,3.0,11.0,11.0,1.0
4,Hillfield,7.0,2.0,8.0,6.0,8.0,4.0,3.0,4.0,8.0,1.0,4.0,3.0
5,Lamberton,5.0,9.0,5.0,5.0,6.0,7.0,4.0,5.0,9.0,2.0,7.0,9.0
6,Lorton,1.0,11.0,1.0,10.0,1.0,3.0,10.0,3.0,1.0,10.0,3.0,11.0
7,Merian,2.0,4.0,2.0,9.0,3.0,1.0,7.0,2.0,2.0,7.0,1.0,5.0
8,Northwood,3.0,10.0,3.0,11.0,7.0,5.0,8.0,7.0,4.0,5.0,5.0,8.0
9,Tapton,10.0,8.0,10.0,4.0,11.0,10.0,5.0,9.0,10.0,9.0,9.0,10.0
10,Wirran,6.0,5.0,6.0,8.0,10.0,9.0,9.0,10.0,5.0,8.0,10.0,6.0

In [31]:
# weight metrics as there are only 4 metrics size metrics vs 8 efficiency metrics
metrics_table_ranked['Weighted Total Rank Score'] = metrics_table_ranked.sum(axis=1) + metrics_table_ranked.loc[:, 'requesting_sessions_ranked':
                                                                                    'supply_hours_growth_ranked'].sum(axis=1)
metrics_table_ranked['Total Rank'] = metrics_table_ranked['Weighted Total Rank Score'].rank(ascending=True)

# preview the ranking table
metrics_table_ranked

,City Name,requesting_sessions_ranked,requesting_sessions_growth_ranked,supply_hours_ranked,supply_hours_growth_ranked,rider_stressed_zero_ranked,rider_cancel_rs_ranked,driver_cancel_rs_ranked,cancel_rs_ranked,en_route_trip_ratio_ranked,tph_ranked,trip_completed_ratio_ranked,requesting_sessions_peak_ratio_ranked,Weighted Total Rank Score,Total Rank
0,Allendale,4.0,3.0,4.0,3.0,4.0,2.0,2.0,1.0,6.0,3.0,2.0,4.0,52.0,1.0
1,Brockpool,8.0,7.0,7.0,7.0,5.0,6.0,6.0,6.0,7.0,6.0,6.0,7.0,107.0,8.0
2,Collinville,11.0,1.0,11.0,2.0,9.0,8.0,1.0,8.0,11.0,4.0,8.0,2.0,101.0,6.0
3,Dunton,9.0,6.0,9.0,1.0,2.0,11.0,11.0,11.0,3.0,11.0,11.0,1.0,111.0,9.0
4,Hillfield,7.0,2.0,8.0,6.0,8.0,4.0,3.0,4.0,8.0,1.0,4.0,3.0,81.0,3.0
5,Lamberton,5.0,9.0,5.0,5.0,6.0,7.0,4.0,5.0,9.0,2.0,7.0,9.0,97.0,5.0
6,Lorton,1.0,11.0,1.0,10.0,1.0,3.0,10.0,3.0,1.0,10.0,3.0,11.0,88.0,4.0
7,Merian,2.0,4.0,2.0,9.0,3.0,1.0,7.0,2.0,2.0,7.0,1.0,5.0,62.0,2.0
8,Northwood,3.0,10.0,3.0,11.0,7.0,5.0,8.0,7.0,4.0,5.0,5.0,8.0,103.0,7.0
9,Tapton,10.0,8.0,10.0,4.0,11.0,10.0,5.0,9.0,10.0,9.0,9.0,10.0,137.0,11.0
10,Wirran,6.0,5.0,6.0,8.0,10.0,9.0,9.0,10.0,5.0,8.0,10.0,6.0,117.0,10.0